---
import Layout from "../Layout.astro";
import Container from "../components/Container.astro";
const { favorites } = Astro.props;
---

<Layout title="Favorites - Roost">
	<main class="pt-20 min-h-screen bg-gray-50">
		<Container />
	</main>
</Layout>
